<!DOCTYPE html>
<html>
  <%-include ("partials/header.ejs")%>

    <body class="gradient-background" style="background-color: #ecf8f9;">

          <!--page description-->
          <div class="gradient-background pricing-header p-3 pb-md-4 mx-auto text-center">
            <h2 class="display-4 fw-normal text-body-emphasis">Designed with You in Mind</h2>
            <p class="fs-5 ">Custom Webpages for Your Small Business</p>
          
          <!--banner to display services-->
          <div class="position-relative rounded-5 overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary banner">
            <div class="col-md-6 p-lg-5 mx-auto my-5">
              <h1 class="display-3"> Services</h1>
              <h3 class="fw-normal text-muted mb-3">We provide a range of services to help bring your small business to the web.</h3>
            </div>
          </div>

          <!--Contact Us button-->
          <a style="margin-bottom: 25px;" href="/contact"><button type="button" style="margin-bottom: 25px;" class="btn btn-lg btn-primary">Contact Us for a Quote</button></a> <!--link to Contact page-->

          <!--container for image circles-->
          <div class="container marketing">
            <div class="row">
              <!--Custom webpage thumbnail -->
              <div class="col-lg-4">
                <img class="circle boxes" src="/images/compass.webp"/>
                <h2 class="fw-normal">Custom Webpages</h2>
                <p>Create a custom webpage to help yourself stand out from the crowd and appeal to your customers</p>
              </div>
              <!--Social media mgmt thumbnail -->
              <div class="col-lg-4">
                <img class="circle boxes" src="/images/social_key.webp"  />
                <h2 class="fw-normal">Web Application Development</h2> <!--May change this service listing to something else. Social media mgmt can be overwhelming at the time-->
                <p>Web applications are an important part of providing services for your customers. Let us develop a custom web application that fits your needs</p>
              </div>
              <!--Web mgmt thumbnail -->
              <div class="col-lg-4">
                <img class="circle boxes" src="/images/computer.webp"  />
                <h2 class="fw-normal">Website Mgmt.</h2>
                <p>Already have a built website? We can manage it for you so you have more time to run your business</p>
              </div>
            </div>
          </div>

          <%-include ("partials/footer.ejs")%>
          
          <!--in case js is needed. will remove if not needed.-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>
    

</html>